.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));

  &-item {
    flex-basis: calc((100% - var(--elements) * var(--gap)) / var(--elements));
    margin-top: var(--gap);
    margin-left: var(--gap);
  }
}
