:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --light-text-color: #fff;
  --text-accent: #2196f3;
  --main-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --bg-accent: #2f303a;
  --logo-color: #000;
  --header-line-color: #ececec;
  --border-color: #eee;
  --icon-color: #afb1b8;

  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --border-radius: 4px;

  --elements: 3;
  --gap: 30px;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
