.guidelines__title {
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.guidelines__list {
  --elements: 1;
  @media screen and (min-width: 768px) {
    --elements: 2;
  }
  @media screen and (min-width: 1200px) {
    --elements: 4;
  }

  & p {
    margin-bottom: 0;
  }
}

.guidelines__item {
  &:before {
    content: '';
    display: block;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1):before {
    background-image: url(../images/icons/group.svg);
  }

  &:nth-child(2):before {
    background-image: url(../images/icons/clock.svg);
  }

  &:nth-child(3):before {
    background-image: url(../images/icons/diagram.svg);
  }

  &:nth-child(4):before {
    background-image: url(../images/icons/astronaut.svg);
  }
}

// $colors: "#F44336", "#3F51B5", "#4CAF50", "#00BCD4", "#E91E63", "#009688";

// @each $color in $colors {
//   $idx: index($colors, $color);

//   .element:nth-child(#{$idx}) {
//     background-color: #{$color};
//   }
// }
